
@media (max-width:375px){
	body {
		background-color:#b6b6b8;
		font-size: small;
	}
	.principal {
		font-size:small;
		text-align: justify;
    	color:black;
		margin-left: 0px;
	}
	contenedor.card {
		margin-top: 0;
		width: 50%;
	}
	p{
		text-align: justify;
		margin: 0em;
	}
}


/*Header:*/
.nav-item {
    position: relative;
  }
  
  .navbar-collapse ul li a.nav-link:before {
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      background: transparent;
      content: '';
      opacity: 0;
      -ms-transition: opacity 0.3s, -webkit-transform 0.3s;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: opacity 0.3s, transform 0.3s;
      -ms-transform: translateY(10px);
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
  }
  
  .navbar-collapse ul li:hover a.nav-link:before {
      opacity: 1;
      -ms-transform: translateY(0px);
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      bottom: 0px;
      background: #dd4343;
  }
  
  .dropdown-item:hover, .dropdown-item:focus {
      color: #ffffff;
      text-decoration: none;
      background-color: #dd4343;
  }
  
  .dropdown-menu {
    border: 0px;
  }
  
  /* General Styles*/
  body {
    background-image: url(https://img.freepik.com/vector-gratis/fondo-acuarela_220290-48.jpg?w=1380&t=st=1686068043~exp=1686068643~hmac=c3f0fd99c7d443c52e56f877410be8452a54536ec2546cd03db1dcab410437e4);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: 100vh;
  }

/*titulo de contenido*/
/*contenido*/
.principal {
    margin: 0%;
	background-size:auto;
    background-repeat: no-repeat;
    font-size: small;
	position:relative;
	display: flex;
}

.div1{

	display: flex;
	justify-content:left;
	margin: auto;
	background: white;
	margin-top: 0;
	background-color:#8B8CBC ;
}



.div2{
	margin: 40px;
	justify-content:flex;
	font-size: medium;
}

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align:center;
	font-weight: 300;
    color:black;
	
}
h2 {
	font-size: 20px;
	line-height: 14px;
	margin: 10px 0;
	text-align:center;
	font-weight: 80;
    color: white;
	margin-left: 10px;
}
p{
	padding: 50px;
	margin: 0 0 1.5em 0;
	text-align: justify;
	border-radius: 15px;

}
b{
	font-weight: bold;
}
p{
	
	background-color: #dbf8d1;
	
}


img.site-logo{
    max-width: 150%;
	max-height: 650%;

}

img {
	max-width: 70%;
	height: auto;
}

/*Formulario*/
h3{
	text-align: center;
	color: rgb(50,50,50);
	text-decoration: none;
  }
  
 
  
  .form{
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family:Arial, Helvetica, sans-serif;
   }
  
  .form input{
	width: 90%;
	height: 30px;
	margin: .5rem
  }
  
  .form button{
	padding: .5em 1em;
	border:none;
	background: rgb(100,200,255);
	cursor: pointer;
  }
  
  .form-container{
	max-width:700px;
	margin: 0 auto;
	background-color: #8B8CBC;
	padding: 50px;
	border-radius: 20px;
  }
  .img-container{
	max-width:700px;
	margin: 0 auto;
	padding: 50px;
	border-radius: 20px;
  }
  
  .form-element {
	display: block;
	width: 70%;
	margin: 1rem auto;
	border: none;
  	padding: 12px;
  	background-color: rgb(84, 120, 187);
	transition: width 2s, height 4s;
	size: 20px;	
	font-size: 20px;
	color: white;
	border-radius: 25px;
  }
.form-element:hover{
	background-color: rgb(16, 34, 94);

}
  .textarea {
	max-width:700px;
	margin: 1rem auto;
	padding: .5em 1em;
  }
.gato_izq{
	width: 600px;
	align-items: center;
	justify-content: center;
	display: flex;
	animation: flotar 6s ease-out infinite;
}

 .perro_der{
	width: 600px;
	align-items: center;
	justify-content: center;
	display: flex;
	animation: flotar 12s ease-out infinite;
 }
 @keyframes flotar {
	100%{
		transform:translate(0,50px);
	}
 }

 /*menu y submenus*/
.dropdown-menu{
	border: 0;
}
.dropdown-menu-dark .dropdown-item {
color: white;
margin-right: 90px;
}
.navbar .nav-item:not(:last-child) {
	margin-right: 90px;
  }
.dropdown-menu li{
	position: relative;
}
.dropdown-menu .submenu {
	display: none;
	position: absolute;
	left: 100%;
	top: -7px;
}

.dropdown-menu .submenu-left {
	right: 100%;
	left: auto;
}
.navbar-dark .navbar-nav .nav-link{
	color: white;
}	
/*Carrusel*/
.carousel slide{

	max-width: 100%;
	max-height:auto;
}

 /*Contenido*/

#main-content {
	background: white;
	width: 90%;
	max-width: 1500px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}
img.inicial{
    max-width: 100%;
	max-height: 700%;
}
	#main-content header,
	#main-content .content {
		padding: 40px;
	}

/*tarjetas*/

.card{
	display: flex;
    align-items: center;
	margin: 60px;
	width: 80%;
	justify-content:center;
	border-color: #8B8CBC;
	border-radius: 20px;
}
.card-img-top{
	max-width: 50%;
	min-height: 50%;
	margin-top: 20px;
}
#contenedor{
		display: flex;
		justify-content: space-around;
	}

/*acordeón*/
.accordion-button:focus{
background-color: #8B8CBC;
color: white;
}

.video_center{
	text-align: center;
	margin: 40px;
	
}
.video_you{
	text-align: center;
	
}

/* Pie de página:*/

footer {
	display: flex;
	justify-content:left;
	margin: auto;
	margin-top: 0;
	background-color:#3dee2d ;
	}

